#!/usr/bin/env bash

# Detect which `ls` flavor is in use: GNU `ls` or macOS `ls`
if ls --color > /dev/null 2>&1; then

    export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

    COLOR_FLAG="--color"
    IGNORE_FILES_FLAG="--ignore '\$RECYCLE.BIN' --ignore 'System Volume Information'"
else

    COLOR_FLAG="-G"
    IGNORE_FILES_FLAG=""
fi

# Define CLI-related aliases
# * `map` usage:
#   - Description: List all directories containing a file
#   - Example: `find . -name .gitattributes | map dirname`
alias ..='cd ..'
alias ...='cd ../..'
alias ~='cd ~'											# ~:		Change to the "home" directory
alias cdp='cd -'										# cdp:		Change to the previous directory
alias df='df -h'										# df:		Display disk usage in a human-readable format by default
alias dotfiles="cd ${DOTFILES_PATH}"					# dotfiles:	Change to the ".dotfiles" directory
alias ebp="atom ${DOTFILES_PATH}/.bash_profile"			# ebp:		Edit Bash profile
alias findh='find . -name '								# findh:	List matching files in the current directory and its subdirectories
alias grep='grep -n --color=auto'						# grep:		List matches for a pattern colorized and with line numbers by default
alias h='history'
alias lbp=". ${DOTFILES_PATH}/.bash_profile"			# lbp:		Load the Bash profile
alias ls="ls -ahl ${COLOR_FLAG} ${IGNORE_FILES_FLAG}"	# lst:		List contents for the directory colorized and omitting predetermined files by default
alias lst="ls -ahlt ${COLOR_FLAG} ${IGNORE_FILES_FLAG}"	# lst:		List contents for the directory sorted by date modified
alias map='xargs -n1'									# map:		Apply the given command to all given items
alias path='echo -e ${PATH//:/\\n}'						# path: 	List the current paths in the environment
alias sudo='sudo '

# NOTE: Prefix the `cat` command with a "\" or quotes to override this alias
if [ -e "$DOTFILES_BIN_PATH/bat" ]; then
    alias cat='bat'
fi

# NOTE: Prefix the `hr` command with a "\" or quotes to override this alias
if [ -e "$DOTFILES_BIN_PATH/hr" ]; then
    alias hr='hr " " - "#" - " "'
fi

# Define CLI-related bindings
bind '"\e\e": "sudo !!"'

# Define Git-, Invision-, and NPM-related aliases
for file in $DOTFILES_PATH/aliases/*; do
    [ -r "$file" ] && [ -f "$file" ] && source "$file"
done

unset file;