#!/usr/bin/env zsh

# Configure `history` to omit duplicates and display a timestamp for each entry
export HISTCONTROL='ignoreboth'
export HISTFILESIZE=10000
export HISTSIZE=10000
export HISTTIMEFORMAT='[%F %T] '

# Configure `man` highlighting and to not clear the screen after quitting
export LESS_TERMCAP_mb=$'\e'"[1;31m"
export LESS_TERMCAP_md=$'\e'"[1;31m"
export LESS_TERMCAP_me=$'\e'"[0m"
export LESS_TERMCAP_se=$'\e'"[0m"
export LESS_TERMCAP_so=$'\e'"[1;44;33m"
export LESS_TERMCAP_ue=$'\e'"[0m"
export LESS_TERMCAP_us=$'\e'"[1;32m"

export MANPAGER='less -X'

# Configure default AWS profile
# if [ -d "$INVISION_PATH" ]; then
#     export AWS_PROFILE="${AWS_DEFAULT_PROFILE}"
# fi

# Configure `nvm`
export NVM_DIR="$HOME/.nvm"

# Configure new shells to use history from all previous shells and not just the "last window closed" and use a custom prompt
export PROMPT_COMMAND="history -a; $PROMPT_COMMAND"

setopt PROMPT_SUBST ;
# export PS1='\[\e[0;33m\]\w\[\e[m\]\[\e[0;36m\]$(__git_ps1 " (%s)")$(terraform_prompt)\[\e[m\] \$ '
export PS1=' %F{#81a2be}%~%f%F{#8abeb7}$(__git_ps1 " (%s)")%f%F{#f0c674}$(terraform_prompt)%f ❯ '

## Configure third-party scripts in the bin/ directory
export BAT_THEME="Monokai Extended Light"