#!/usr/bin/env bash

# Configure `history` to omit duplicates and display a timestamp for each entry
export HISTCONTROL='ignoreboth'
export HISTFILESIZE=10000
export HISTSIZE=10000
export HISTTIMEFORMAT='[%F %T] '

# Configure `man` highlighting and to not clear the screen after quitting
export LESS_TERMCAP_mb=$'\e'"[1;31m"
export LESS_TERMCAP_md=$'\e'"[1;31m"
export LESS_TERMCAP_me=$'\e'"[0m"
export LESS_TERMCAP_se=$'\e'"[0m"
export LESS_TERMCAP_so=$'\e'"[1;44;33m"
export LESS_TERMCAP_ue=$'\e'"[0m"
export LESS_TERMCAP_us=$'\e'"[1;32m"

export MANPAGER='less -X'

# Configure `nvm`
if [ "$PLATFORM" == 'mac' ]; then
    export NVM_DIR="$HOME/.nvm"
elif [ "$PLATFORM" == 'linux-win' ]; then
    export NVM_DIR="$HOME/nvm"
fi

# Configure new shells to use history from all previous shells and not just the "last window closed" and use a custom prompt
export PROMPT_COMMAND="history -a; $PROMPT_COMMAND"

if [ "$PLATFORM" == 'mac' ]; then
    export PS1='\[\e[0;33m\]\w\[\e[m\]\[\e[0;36m\]$(__git_ps1 " (%s)")\[\e[m\] \$ '
elif [ "$PLATFORM" == 'linux-win' ]; then
    export PS1='\[\e[0;33m\]\w\[\e[m\]\[\e[0;36m\]$(__git_ps1 " (%s)")\[\e[m\] \$ '
fi