[color]
	ui = true
[core]
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[filter "hawser"]
	clean = git hawser clean %f
	required = true
	smudge = git hawser smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[filter "media"]
	clean = git media clean %f
	required = true
	smudge = git media smudge %f
[format]
	pretty = oneline
[log]
	abbrevCommit = true
#	decorate = true
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[mergetool]
	keepBackup = true
	prompt = false
[push]
	default = current
	followTags = true
[user]
	name = Matthew Borgman

# Include computer- and project-specific configurations
[includeIf "gitdir:/Users/bormat01/"]
	path = ~/.dotfiles/.gitconfig-bormat01

[includeIf "gitdir:/Users/matthewborgman/"]
	path = ~/.dotfiles/.gitconfig-matthewborgman

[includeIf "gitdir:/Users/matthewborgman/Websites/go.puma.com*"]
	path = ~/.dotfiles/.gitconfig-twentyfoursevenstudios